<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fichas | Academia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fichas-gestor.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <script src="{{ url_for('static', filename='scripts/flash-message.js') }}"></script>

    <div class="side-menu">
        <h2>Olá, {{ usuario.nome.split()[0] }}!</h2>
        <div class="menu-items">
            <a href="{{ url_for('personal') }}">Início</a>
            <a href="{{ url_for('alunos-personal') }}">Alunos</a>
            <a href="{{ url_for('fichas-personal') }}">Fichas</a>
        </div>
        <form method="post" action="{{ url_for('auth_logout') }}">
            <button type="submit" class="logout">Sair</button>
        </form>
    </div>
    <div class="page-content-container">
        <div class="page-content">
            <h1>Fichas</h1>
            <div class="fichas">
                {% for ficha in fichas %}
                <a href="" class="ficha" data-ficha-id="{{ ficha.id }}">
                    <div class="ficha-nomes">
                        <h3>{{ ficha.aluno_nome }}</h3>
                        <p>{{ ficha.personal_nome }}</p>
                    </div>
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
                {% else %}
                <p>Crie uma ficha!</p>
                {% endfor %}
            </div>
            <a href="{{ url_for('cadastro-ficha-personal') }}" class="cadastrar">Criar ficha</a>
        </div>
    </div>

    <div class="ficha-detalhes-container" id="ficha-popup">
        <div class="ficha-detalhes">
            <h1 id="popup-aluno">-</h1>
            <h2 id="popup-personal">-</h2>
            <p id="popup-descricao">-</p>
            <div class="exercicios">
                <h2>Exercícios</h2>
                <div class="tabela-exercicios">
                    <table id="popup-exercicios-table">
                        <thead>
                            <tr>
                                <th>Exercício</th>
                                <th>Equipamento</th>
                                <th>Séries</th>
                                <th>Repetições</th>
                                <th>Carga</th>
                                <th>Descanso</th>
                                <th>Observações</th>
                            </tr>
                        </thead>
                        <tbody id="popup-exercicios">
                            <!-- linhas inseridas com javascript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/ficha-popup.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/processa-logout.js') }}"></script>
</body>
</html>