<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor | Academia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home-gestor.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="side-menu">
        <!-- incluir nome do gestor -->
        <h2>Olá, gestor!</h2>
        <div class="menu-items">
            <a href="{{ url_for('alunos-gestor') }}">Alunos</a>
            <a href="{{ url_for('autentica-entrada') }}">Entrada</a>
            <a href="{{ url_for('equipamentos') }}">Equipamentos</a>
            <a href="{{ url_for('planos') }}">Planos</a>
        </div>
        <form method="post" action="{{ url_for('auth_logout') }}">
            <button type="submit" class="logout">Sair</button>
        </form>
    </div>
    <div class="instruction">
        <h2>Escolha um item no menu à esquerda</h2>
    </div>

    <script src="{{ url_for('static', filename='scripts/processa-logout.js') }}"></script>
</body>
</html>