#client-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.client-field, .client-radio, .client-checkbox {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.client-field, .client-submit {
    background: none;
    width: fit-content;
    font-size: 1rem;
}

.client-field {
    display: flex;
    width: 100%;
}

.client-field input {
    flex: 1;
    border: 1px solid var(--blue-900);
    border-radius: 5px;
    background: none;
    height: 3rem;
    padding: 1rem;
    max-width: 500px;
}

.client-field label, .client-radio p, .client-checkbox p {
    font-weight: 600;
    
}

.client-radio,.client-checkbox {
    display: flex;
    flex-direction: column;
}

.client-submit {
    padding: .8rem 1.5rem;
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    background-color: var(--blue-400);
    color: white;
    transition: all .2s ease;
}

.client-submit:hover {
    cursor: pointer;
    background-color: var(--blue-600);
}

.client-face {
    height: 20vh;
    width: 20vh;
    background-color: var(--blue-400);

}